@import "tailwindcss";

:root {
    --light-blue-color: #142554;
    --light-blue-text-color: #759af1;
    --dark-blue-text-color: #1d4ed8;
    --light-gray-text-color: #9fa6b5;
    --dark-gray-text-color: #656a75;
    --background-gray-color: #10141b;
    --background-light-gray-color: #f0f4f7;
    --background-medium-gray-color: #c7cbce;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#index-introducao-pratica::after {
    content: '';
    position: absolute;
    top: -25px;
    left: 0px;
    height: 2px;
    width: 35px;
    background-color: var(--light-blue-text-color);
}

#index-main::before {
    content: '';
    position: absolute;
    background-color: var(--light-blue-color);
    right: -150px;
    top: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px#142554;
}

/*
    Slide-01
*/
#slide-01-main::before {
    content: '';
    position: absolute;
    background-color: var(--light-blue-color);
    right: -150px;
    bottom: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px#142554;
}

/*
    Slide-02
*/
#slide-02-main::before,
#slide-04-main::before {
    content: '';
    position: absolute;
    background-color: var(--background-medium-gray-color);
    right: -150px;
    bottom: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px var(--background-medium-gray-color);
}

/*
    Slide-03
*/
#slide-03-main::before {
    content: '';
    position: absolute;
    background-color: var(--light-blue-color);
    left: -150px;
    top: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px#142554;
}

/* Slide-06
*/
#slide-06-main::before {
    content: '';
    position: absolute;
    background-color: var(--light-blue-color);
    left: -150px;
    top: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px#142554;
}

/*
    Slide-07
*/
#slide-07-main::before {
    content: '';
    position: absolute;
    background-color: var(--background-medium-gray-color);
    right: -150px;
    bottom: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px var(--background-medium-gray-color);
}

#slide-08-main::before {
    content: '';
    position: absolute;
    background-color: var(--background-medium-gray-color);
    right: -150px;
    bottom: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px var(--background-medium-gray-color);

}
#slide-09-main::before {
    content: '';
    position: absolute;
    background-color: var(--light-blue-color);
    right: -150px;
    bottom: -800px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 100px #142554;
}